/*header*/
header section{
	display: flex;
	justify-content: space-between;
	flex-flow: row nowrap;
}
header a:nth-child(1){
	flex-basis: 80%;
}
	/*nav*/
header nav{
	display: none;
}
		/*search*/
header form{
	border:none;
}
header form input{
	width:233px;
	display: none;
}
header a:nth-child(5){
	display: block;
}
header a:nth-child(6){
	display: none;
}
/*banner*/
.banner{
	position: relative;
}
section:nth-child(2){
	width:100%;
}
.banner div:nth-of-type(2){
	display: none;
}
.banner img{
	width:150%;
	margin-left: -50%;
}
.banner article{
	height:280px;
	width:100%;
	text-align: center;
	line-height: 280px;
	background: #999;
	top:100%;
	left: 0%;
	animation: none;
}
.banner article p{
	position: absolute;
	left:45%;
	animation: name 2s linear;
}
@keyframes name{
		from{left:55%}
		to{
			left:45%
		}
		animation-play-state:paused;
	}
